.about {
  &__wrapper {
    @include flex-all-center;
    @include small-tablet {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      text-align: center;
    }
  }
  &__content {
    max-width: 430px;
    margin-left: 120px;
    @include small-tablet {
      margin-left: 0;
      margin-bottom: 80px;
    }
  }
  &__title {
    max-width: 370px;
    margin: 0;
    margin-bottom: 25px;
    color: var(--dark-color);
    text-align: left;
    @include mini {
      display: inline-block;
      text-align: center;
      max-width: 295px;
      font-size: 25px;
    }
  }
  &__descr {
    margin: 0;
    margin-bottom: 30px;
    text-align: left;
  }
}
