.footer {
  padding-top: 55px;
  background-image: url(../img/footerbg.png);

  @include bg-cover;

  &__wrapper {
    @include flex-all-sb;
    flex-wrap: wrap;

    @include n-tablet {
      display: flex;
      justify-content: center;
    }
  }

  &__faq {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 300px;
    padding-bottom: 20px;

    @include n-tablet {
      margin-right: 60px;
    }

    @include small-tablet {
      margin-right: 0;
    }

    @include mobile-small {
      display: flex;
      align-items: center;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    color: var(--light-color);

    @include mobile-small {
      font-size: 25px;
      text-align: center;
    }
  }

  &__faq-mail {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--accent-color);
    text-align: center;
  }

  &__faq-mail::before {
    content: url(../img/mail.svg);
    margin-right: 20px;
  }

  &__faq-phone {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--accent-color);
  }

  &__faq-phone::before {
    content: url(../img/phone.svg);
    margin-right: 20px;
  }

  &__adress {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 302px;
    padding-bottom: 20px;
  }

  &__adress-location {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--accent-color);
  }

  &__adress-location::before {
    content: url(../img/adress.svg);
    margin-right: 20px;
  }

  &__adress-park {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--accent-color);
  }

  &__adress-park::before {
    content: url(../img/adress.svg);
    margin-right: 20px;
  }

  &__img {
    margin: 0 15px;
  }
}
