.help {
  padding: 80px 0 100px;

  &__content {
    text-align: center;
  }

  &__title {
    display: inline-block;
    margin: 0;
    margin-bottom: 60px;
    max-width: 300px;
    color: var(--dark-color);

    @include mobile-small {
      max-width: 220px;
      font-size: 25px;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    @include for-tablet {
      justify-content: flex-start;
    }
  }

  &__item {
    flex-basis: 20%;
    position: relative;
    padding-top: 70px;
    padding-bottom: 55px;
    text-align: center;

    @include small-tablet {
      flex-basis: 33%;
    }

    @include for-tablet {
      flex-basis: 50%;
    }
  }

  &__item-1 {
    &::before {
      position: absolute;
      content: "";
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 60px;
      height: 60px;
      display: block;
      background-image: url("../img/help-1.svg");
      background-repeat: no-repeat;
    }
  }

  &__item-2 {
    &::before {
      position: absolute;
      content: "";
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 60px;
      height: 60px;
      display: block;
      background-image: url("../img/help-2.svg");
      background-repeat: no-repeat;
    }
  }

  &__item-3 {
    &::before {
      position: absolute;
      content: "";
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 60px;
      height: 60px;
      display: block;
      background-image: url("../img/help-3.svg");
      background-repeat: no-repeat;
    }
  }

  &__item-4 {
    &::before {
      position: absolute;
      content: "";
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 60px;
      height: 60px;
      display: block;
      background-image: url("../img/help-4.svg");
      background-repeat: no-repeat;
    }
  }

  &__item-5 {
    &::before {
      position: absolute;
      content: "";
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 60px;
      height: 60px;
      display: block;
      background-image: url("../img/help-5.svg");
      background-repeat: no-repeat;
    }
  }

  &__item-6 {
    &::before {
      position: absolute;
      content: "";
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 60px;
      height: 60px;
      display: block;
      background-image: url("../img/help-6.svg");
      background-repeat: no-repeat;
    }
  }

  &__item-7 {
    &::before {
      position: absolute;
      content: "";
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 60px;
      height: 60px;
      display: block;
      background-image: url("../img/help-7.svg");
      background-repeat: no-repeat;
    }
  }

  &__item-8 {
    &::before {
      position: absolute;
      content: "";
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 60px;
      height: 60px;
      display: block;
      background-image: url("../img/help-8.svg");
      background-repeat: no-repeat;
    }
  }

  &__item-9 {
    &::before {
      position: absolute;
      content: "";
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 60px;
      height: 60px;
      display: block;
      background-image: url("../img/help-9.svg");
      background-repeat: no-repeat;
    }
  }

  &__subject {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--dark-color);

    @include for-tablet {
      font-size: 15px;
    }
  }
}
