.start {
  padding-top: 180px;
  min-height: 900px;
  background-image: url(../img/hero-bg.jpg);
  @include bg-cover;
  &__wrapper {
    @include flex-all-sb;
    @include hard {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
  }
  &__content {
    max-width: 460px;
    @include hard {
      margin-bottom: 100px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 42px;
    max-width: 310px;
    font-weight: 400;
    text-align: left;
    font-size: 44px;
    line-height: 130%;
    color: var(--light-color);
    @include mobile-small {
      display: inline-block;
      max-width: 230px;
      font-size: 25px;
      text-align: center;
    }
  }
  &__descr {
    margin: 0;
    margin-bottom: 42px;
    text-align: left;
    color: var(--lactic-color);
    @include mobile-small {
      text-align: center;
    }
  }
  &__btn {
    background-color: var(--accent-color);
    transition: 0.3s ease-in-out;
  }
  &__btn:hover {
    background-color: var(--snowy-color);
  }

  &__image {
    transform: translateY(4px);
  }
}
