.menu {
  &__list {
    display: flex;
    margin-top: 20px;

    @include small-tablet {
      @include flex-all-center;

      flex-direction: column;
      width: 100%;
      height: 100%;
    }
  }

  &__item:not(:last-child) {
    margin-right: 35px;

    @include small-tablet {
      margin-right: 0;
      margin-bottom: 40px;
    }
  }

  &__link {
    font-family: "Arial";
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--lactic-color);
    transition: color 0.3s ease-in-out;

    @include small-tablet {
      font-size: 32px;
    }
  }

  &__link:hover {
    color: var(--clear-color);
  }

  &__link:active {
    color: var(--clear-color);
    border-bottom: 3px solid var(--accent-color);
  }

  @include small-tablet {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--btn-color);
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
}

.menu--active {
  opacity: 1;
  visibility: visible;
}
