.our {
  padding: 80px 0 100px;
  background-color: var(--sectionbg-color);

  @include bg-cover;

  &__wrapper {
    // position: relative;
    text-align: center;
  }

  &__title {
    display: inline-block;
    margin: 0;
    margin-bottom: 60px;
    max-width: 400px;
    color: var(--dark-color);
  }

  &__content {
    max-width: 990px;
  }

  &__item {
    // width: 270px;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 60px;
    background-color: var(--clear-color);
    border-radius: 9px 9px 0 0;
    transition: 0.3s ease-in-out;
  }

  &__item:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: #ffffff;
    cursor: pointer;
  }

  &__name {
    margin: 0;
    margin: 30px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--dark-color);
  }

  &__btn {
    border: 2px solid var(--accent-color);
    border-radius: 100px;
    transition: 0.3s ease-in-out;
  }

  &__btn:hover {
    border: 2px solid var(--snowy-color);
    background-color: var(--snowy-color);
  }

  &__button {
    background-color: var(--accent-color);
    transition: 0.3s ease-in-out;
  }

  &__button:hover {
    background-color: var(--snowy-color);
  }

  &__slider-btn--prev {
    display: block;
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    // left: 30px;
    margin-top: auto;
    margin-bottom: auto;
    width: 52px;
    min-width: 52px;
    height: 52px;
    border: 2px solid var(--accent-color);
    border-radius: 100px;
    transition: 0.3s ease-in-out;
  }

  &__test {
    display: flex;
  }

  &__slider-btn--prev:hover {
    background-color: var(--accent-color);
  }

  &__slider-btn--next {
    display: block;
    // position: absolute;
    // top: 50%;
    margin-top: auto;
    margin-bottom: auto;
    // transform: translateY(-50%);
    // right: 30px;
    width: 52px;
    min-width: 52px;
    height: 52px;
    border: 2px solid var(--accent-color);
    border-radius: 100px;
    transition: 0.3s ease-in-out;
  }

  &__slider-btn--next:hover {
    background-color: var(--accent-color);
  }
}

// .swiper-wrapper-my {
//   display: flex;
//   justify-content: space-between;
//   gap: 90px;
// }

// .swiper-slide-my {
//   width: 270px !important;
// }
