/* stylelint-disable */

@mixin big-desktop {
  @media (max-width: (1440px)) {
    @content;
  }
}

@mixin hard {
  @media (max-width: (1170px)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: (1024px)) {
    @content;
  }
}

@mixin n-tablet {
  @media (max-width: (1024px)) {
    @content;
  }
}

@mixin small-tablet {
  @media (max-width: (768px)) {
    @content;
  }
}

@mixin f-tablet {
  @media (max-width: (590px)) {
    @content;
  }
}

@mixin mobile-small {
  @media (max-width: (420px)) {
    @content;
  }
}

@mixin mini {
  @media (max-width: (370px)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: (576px)) {
    @content;
  }
}

@mixin big {
  @media (min-width: (769px)) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: (1025px)) {
    @content;
  }
}
