<footer class="footer" id="contacts">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__faq">
        <h3 class="footer__title title">
          For questions and suggestions
        </h3>
        <a class="footer__faq-mail" href="mailto:email@shelter.com">
          email@shelter.com
        </a>
        <a class="footer__faq-phone" href="tel:+136745677554">
          +13 674 567 75 54
        </a>
      </div>
      <div class="footer__adress">
        <h3 class="footer__title title">
          We are waiting for your visit
        </h3>
        <a class="footer__adress-location" href="#">
          1 Central Street, Boston (entrance from the store)
        </a>
        <a class="footer__adress-park" href="#">
          18 South Park, London
        </a>


      </div>
      <img class="footer__img" src="../img/footerpet.png" alt="dog">
    </div>
  </div>
</footer>
<!-- <a class="footer__faq-mail" href="#">
          <img class="footer__faq-img" src="../img/mail.svg" alt="mail">

        </a> -->