<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="logo header__logo">
        <a class="logo__link" href="#">
          <h2 class="logo__title">Cozy House</h2>
          <p class="logo__subtitle">Shelter for pets in Boston</p>
        </a>
      </div>
      <nav class="menu" data-menu>
        <ul class="menu__list list-reset">
          <li class="menu__item">
            <a class="menu__link" href="#about" data-menu-item data-scroll>About the shelter</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#our" data-menu-item data-scroll>Our pets</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#help" data-menu-item data-scroll>Help the shelter</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#contacts" data-menu-item data-scroll>Contacts</a>
          </li>
        </ul>
        <button class="btn-reset burger__close" data-menu-close aria-label="Закрыть меню">
          <span class="burger__close-line"></span>
          <span class="burger__close-line"></span>
          <span class="burger__close-line"></span>
        </button>
      </nav>
      <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>