<section class="help" id="help">
  <div class="container">
    <div class="help__content">
      <h3 class="help__title title">
        How you can help
        our shelter
      </h3>
      <div class="help__wrapper">
        <div class="help__items">
          <div class="help__item-1">
            <img class="help__img" src="../img/help-1.svg" alt="food">
            <h4 class="help__subject">Pet food</h4>
          </div>
          <div class="help__item-2">
            <img class="help__img" src="../img/help-2.svg" alt="transport">
            <h4 class="help__subject">Transportation</h4>
          </div>
          <div class="help__item-3">
            <img class="help__img" src="../img/help-3.svg" alt="toys">
            <h4 class="help__subject">Toys</h4>
          </div>
          <div class="help__item-4">
            <img class="help__img" src="../img/help-4.svg" alt="bowls">
            <h4 class="help__subject">Bowls and cups</h4>
          </div>
          <div class="help__item-5">
            <img class="help__img" src="../img/help-5.svg" alt="Shampoos">
            <h4 class="help__subject">Shampoos</h4>
          </div>
        </div>
        <div class="help__items__bottom">
          <div class="help__item-6">
            <img class="help__img" src="../img/help-6.svg" alt="Vitamins">
            <h4 class="help__subject">Vitamins</h4>
          </div>
          <div class="help__item-7">
            <img class="help__img" src="../img/help-7.svg" alt="Medicines">
            <h4 class="help__subject">Medicines</h4>
          </div>
          <div class="help__item-8">
            <img class="help__img" src="../img/help-8.svg" alt="Collars and leashes">
            <h4 class="help__subject">Collars / leashes</h4>
          </div>
          <div class="help__item-9">
            <img class="help__img" src="../img/help-9.svg" alt="Sleeping areas">
            <h4 class="help__subject">Sleeping areas</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>