<section class="help" id="help">
  <div class="container">
    <div class="help__content">
      <h3 class="help__title title">
        How you can help
        our shelter
      </h3>
    </div>
    <ul class="help__menu list-reset">
      <li class="help__item help__item-1">
        <h4 class="help__subject">Pet food</h4>
      </li>
      <li class="help__item help__item-2">
        <h4 class="help__subject">Transportation</h4>
      </li>
      <li class="help__item help__item-3">
        <h4 class="help__subject">Toys</h4>
      </li>
      <li class="help__item help__item-4">
        <h4 class="help__subject">Bowls and cups</h4>
      </li>
      <li class="help__item help__item-5">
        <h4 class="help__subject">Shampoos</h4>
      </li>
      <li class="help__item help__item-6">
        <h4 class="help__subject">Vitamin</h4>
      </li>
      <li class="help__item help__item-7">
        <h4 class="help__subject">Medicines</h4>
      </li>
      <li class="help__item help__item-8">
        <h4 class="help__subject">Collars / leashess</h4>
      </li>
      <li class="help__item help__item-9">
        <h4 class="help__subject">Sleeping areas</h4>
      </li>
    </ul>

  </div>
</section>