<section class="start">
  <div class="container">
    <div class="start__wrapper">
      <div class="start__content">
        <h2 class="start__title">
          Not only people need a house
        </h2>
        <p class="start__descr descr">
          We offer to give a chance to a little and nice puppy with an extremely wide and open heart. He or she will love you more than
          anybody else in the world, you will see!
        </p>
        <a class="start__btn btn btn-reset" href="#">Make a friend</a>
      </div>
      <div class="start__image">
        <img src="../img/hero-pet.png" alt="" class="start__test">
        <!-- <picture>
          <source srcset="../img/hero-pet.webp" type="image/webp">
          <img loading="lazy" src="../img/hero-pet.png" class="image" width="698" height="728" alt="dog">
        </picture> -->
      </div>
      <!-- <img class="start__img" src="../img/hero-pet.png" alt="Dog"> -->
    </div>
  </div>
</section>