<div class="graph-modal">
  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="slide-1">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content popup__content">
      <div class="popup__image">
        <picture>
          <source srcset="../img/modal-Jennifer.webp" type="image/webp">
          <img loading="lazy" src="../img/modal-Jennifer.png" class="image" width="500" height="500" alt="jennifer">
        </picture>
      </div>
      <div class="popup__about">
        <h3 class="popup__title title">
          Jennifer
        </h3>
        <h4 class="popup__subtitle">
          Dog - Labrador
        </h4>
        <p class="popup__descr">
          Jennifer is a sweet 2 months old Labrador that is patiently waiting to find a new forever home. This girl really enjoys being able
          to go outside to run and play, but won't hesitate to play up a storm in the house if she has all of her favorite toys.
        </p>
        <ul class="popup__list">
          <li class="popup__item">
            <span class="popup__span">Age:</span>
            <p class="popup__text">2 months</p>
          </li>
          <li class="popup__item">
            <span class="popup__span">Inoculations:</span>
            <p class="popup__text">none</p>
          </li>
          <li class="popup__item">
            <span class="popup__span">Diseases:</span>
            <p class="popup__text">none</p>
          </li>
          <li class="popup__item">
            <span class="popup__span">Parasites:</span>
            <p class="popup__text">none</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>