<section class="our" id="our">
  <div class="container">
    <div class="our__wrapper">
      <h3 class="our__title title">
        Our friends who are looking for a house
      </h3>
      <div class="our__test">
        <button class="btn-reset our__slider-btn--prev" aria-label="Go to previous slide">
          <img class="our__prev" src="../img/prev.png" alt="">
        </button>
        <div class="swiper our__content">
          <div class="swiper-wrapper swiper-wrapper-my">
            <div class="swiper-slide swiper-slide-my">
              <div class="our__item">
                <img loading="lazy" src="../img/slide-1.png" class="our__image" width="270" height="270"
                  alt="Katrine cat">
                <div class="our__name">Katrine</div>
                <button class="btn-reset our__btn btn" data-graph-path="slide-1">Learn more</button>
              </div>
            </div>
            <div class="swiper-slide swiper-slide-my">
              <div class="our__item">
                <img loading="lazy" src="../img/slide-2.png" class="our__image" width="270" height="270"
                  alt="Jennife dog">
                <div class="our__name">Jennifer</div>
                <button class="btn-reset our__btn btn" data-graph-path="slide-1">Learn more</button>
              </div>
            </div>
            <div class="swiper-slide swiper-slide-my">
              <div class="our__item">
                <img loading="lazy" src="../img/slide-3.png" class="our__image" width="270" height="270" alt="Wood dog">
                <div class="our__name">Woody</div>
                <button class="btn-reset our__btn btn" data-graph-path="slide-1">Learn more</button>
              </div>
            </div>
            <div class="swiper-slide swiper-slide-my">
              <div class="our__item">
                <img loading="lazy" src="../img/slide-4.png" class="our__image" width="270" height="270"
                  alt="Sophia dog">
                <div class="our__name">Sophia</div>
                <button class="btn-reset our__btn btn" data-graph-path="slide-1">Learn more</button>
              </div>
            </div>
            <div class="swiper-slide swiper-slide-my">
              <div class="our__item">
                <img loading="lazy" src="../img/slide-5.png" class="our__image" width="270" height="270"
                  alt="Timmy cat">
                <div class="our__name">Timmy</div>
                <button class="btn-reset our__btn btn" data-graph-path="slide-1">Learn more</button>
              </div>
            </div>
            <div class="swiper-slide swiper-slide-my">
              <div class="our__item">
                <img loading="lazy" src="../img/slide-6.png" class="our__image" width="270" height="270"
                  alt="Charly dog">
                <div class="our__name">Charly</div>
                <button class="btn-reset our__btn btn" data-graph-path="slide-1">Learn more</button>
              </div>
            </div>
            <div class="swiper-slide swiper-slide-my">
              <div class="our__item">
                <img loading="lazy" src="../img/slide-7.png" class="our__image" width="270" height="270"
                  alt="Scarlett dog">
                <div class="our__name">Scarlett</div>
                <button class="btn-reset our__btn btn" data-graph-path="slide-1">Learn more</button>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="our__item">
                <img loading="lazy" src="../img/slide-8.png" class="our__image" width="270" height="270"
                  alt="Freddie cat">
                <div class="our__name">Freddie</div>
                <button class="btn-reset our__btn btn" data-graph-path="slide-1">Learn more</button>
              </div>
            </div>
          </div>
        </div>
        <button class="btn-reset our__slider-btn--next" aria-label="Go to next slide">
          <img class="our__next" src="../img/next.png" alt="">
        </button>
      </div>
      <button class="our__button btn btn-reset">
        Get to know the rest
      </button>
    </div>
  </div>
</section>